name: Deploy to Sever

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to Server
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            export NVM_DIR="$HOME/.nvm"
            "[ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"
            cd ${{ secrets.EC2_APP_DIR }}
            git pull origin main
            sudo npm install -g pnpm
            sudo npm install -g pm2
            which pnpm
            which pm2
            pnpm install
            pnpm run build 
            pm2 restart sketchmates-http
            pm2 restart sketchmates-ws
          EOF